
.bg {
    background-color: #f0ebe3;
    z-index: -2;
    position: absolute;
    height: 100%;
    width: 100%;
}
    
.box {
    height: 100%;
    width: 600px;
    background-color: black;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: -1;
}

h1 {
    color:white;
    font-size: 50px;
    font-family: 'poppins', sans-serif;
    position: absolute;
    top: 275px;
    left: 130px;
}

h2 {
    color: white;
    font-size: 20px;
    font-family: 'poppins', sans-serif;
    position: absolute;
    top: 345px;
    left: 160px;

}

h3 {
    color: black;
    font-size: 50px;
    font-family: 'montserrat', sans-serif;
    position: absolute;
    top: 115px;
    left: 740px;
}

input[type=text], input[type=password]{
    width: 400px;
    border: 2px solid #aaa;
    background-color: #e4dccf;
    border-radius: 10px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    position: absolute;
    top: 225px;
    left: 730px;
    padding-left: 20px;
}

input[type=text]::placeholder, input[type=password]::placeholder {
    padding-left: 0px;
}

input[type=text]:focus, input[type=password]:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

h4 {
    color: black;
    font-size: 19px;
    font-family: 'montserrat', sans-serif;
    position: absolute;
    top: 580px;
    left: 740px;
}

h5 {
    color: #255F88;
    font-size: 19px;
    font-family: 'montserrat', sans-serif;
    position: absolute;
    top: 579px;
    left: 870px;
    text-decoration: underline;
    text-decoration-color: #255F88;
}

.name {
    position: absolute;
    top: -5px;
    left: 0px;
    padding-left: 200px;
}

.email {
    position: absolute;
    top: 50px;
}

.pass {
    position: absolute;
    top: 105px;
    left: 0px;
}

.signupbtn {
    position: absolute;
    top: 415px;
    left: 737px;
    width: 90px;
    height: 35px;
    background-color: #6EB1E1;
    border-radius: 10px;
    cursor: pointer;
    padding-left: 25px;
    padding-top: 5px;
}

.signupbtn:active {
    box-shadow: 0 0 9px rgb(82, 81, 81) inset;
}

.name_img {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 675px;
    top: 225px;
}

.email_img {
    width: 50px;
    height: 40px;
    position: absolute;
    left: 675px;
    top: 285px;
}

.pass_img {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 675px;
    top: 335px;
}